# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.log

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Outputs (optional: include if you don’t want to push them)
outputs/*.pdf
outputs/*.csv
